[2020-07-08 06:08] #182 closed

[2020-07-08 06:13] Achllle commented on #190
It's not the voltage drop that's the issue, it's the current draw from the motors. The idea is to replace the default motors with beefier ones (which a lot of folks have done already) and current draw for a single motors could peak ~10A or more which is dangerous. Perhaps 18AWG is a middle ground?

[2020-07-08 14:57] dcschooley commented on #190
Voltage drop and heating due to current are two sides of the same coin. When sizing the wires, steady-state current matters more than transients. Except for the protective wire braid, our motor wires are basically exposed to air, as opposed to being enclosed in a wall or in conduit. That helps with any extra heat from transients and we are not worried so much about the total heat produced in the l

[2020-07-08 16:28] dcschooley commented on #190
So here's a screenshot of a table calculating voltage drop and wire losses for 1m length of wire. I got the resistances from some random place on the internet. I think the sweet spot is 20AWG for the motors. 22AWG for the motors would make it easier to find board connectors that would work for both the encoders and motors, but 20AWG will work.

<img width="789" alt="Screen Shot 2020-07-08 at 11 24

[2020-07-08 18:55] Achllle commented on #190
I don't think everyone uses the default battery. I switched to a 9Ah 100C LiPo... The battery leads are 12AWG...

Aside from using the battery upper limit as the starting point, I don't think I trust dividing that number by the number of drive motors. Loads are often very unbalanced, and it's also common to turn and drive at the same time.

Wow that seems crazy, are you sure of that? The [website]

[2020-07-08 22:00] dcschooley commented on #190
The leads on your battery are so big because your battery has an extremely high discharge capacity. It appears to be a multi-rotor battery. The same size battery with a lower discharge capacity could get by with smaller wires.

Dividing by six gives you an upper estimate for sizing the drive motor wires. Turning at the same time reduces the amount of current available for the drive motors, but tha

[2020-07-09 01:37] Achllle commented on #190
If you assume that all drive motors draw the same current at all times. When there is more friction on one wheel or it's stuck and the other wheels are spinning freely, that one motor is going to draw quite a bit more.

In my case (and I think with quite a few people who decided to upgrade the battery), since the discharge capacity is so high, there's practically no limit on the 'current available

[2020-07-09 02:58] dcschooley commented on #190
You are correct that some motors may be pulling more power than others for whatever reason, but 20W is still a good baseline for steady-state (average) power calculations. So the question is what happens if you start to deviate from normal.

Here are estimates of torque-speed and power-speed curves for those motors. I just took values from the provide torque-speed curves and calculated the output

[2020-07-09 04:02] Achllle commented on #190
Thanks for the thorough analysis. I'm on the same page now!

[2020-07-09 16:07] dcschooley commented on #196
It will be easy to add this: <https://www.adafruit.com/product/4226>. I'm assuming this part is decent. Is there anything better?

This device would become part of the incoming power circuit, so it would be a requirement. I'm wondering if it would make sense to replace the DROK with a small display driven by this thing and the PI.

[2020-07-09 16:37] ericjunkins commented on #196
@dcschooley Right I was thinking about that too, that i dont necessarily want to get rid of entirely a way to display voltage and current etc to the user, would be good to have both the ability to read  the values like with the adafruit part you mentioned, and have a small display

[2020-07-09 16:55] dcschooley commented on #196
I think you definitely need to have a user-viewable display. Part of it is educational, the other is you simply need to know what is happening with the rover. Having the DROK is useful during testing so that you don't let the battery voltage to get too low. Losing that would be slightly annoying if the PI wasn't up and running yet. One advantage of a controllable display is that the PI could displ

[2020-07-09 17:17] dcschooley commented on #196
Here's a possibility for socketing the power connection for the Adafruit device: <https://www.digikey.com/product-detail/en/samtec-inc/HPF-02-01-T-S/SAM9491-ND/6678228> and <https://www.digikey.com/product-detail/en/samtec-inc/TSW-202-07-T-S/SAM10858-ND/2686027>

[2020-07-19 21:47] Achllle opened #202 "Convert LaTeX to markdown"
The LaTeX documentation isn't very contributor-friendly and isn't rendered by GitHub so switching to markdown would be better. This would mean quite a bit of effort, but can be broken up into chunks. ~~Once the markdown is generated, we can set up hooks to convert those files into PDFs for convenient printing.~~

[2020-07-22 05:57] apollokit commented on #202
For converting from markdown to pdf, pandoc looks pretty good, though you might have to tinker with it.

-  install pandoc from deb here, to get the latest: https://github.com/jgm/pandoc/releases/tag/2.10
- `pandoc README.md  -t html5 -o out.pdf`
   - Have to install the .deb from https://wkhtmltopdf.org/downloads.html first

[2020-07-22 18:21] apollokit commented on #202
On setting up hooks...

There's some useful info about git commit hooks here: https://www.atlassian.com/git/tutorials/git-hooks

I was thinking that would be a good way to go to automatically produce the pdf docs from markdown upon commit (probably with a pre-commit hook), but I think it's overkill for now. The problem: you want to look at the pdf-rendered-from-markdown before you commit it, to ma

[2020-07-27 14:45] dcschooley opened #205 "Add filter capacitors to quadrature encoder connections"
The Servo City HD Premium Gear Motors with encoders have a capacitor acting as a snubber on the encoder board. This capacitor couples the 20kHz PWM voltage from the RoboClaws into the encoder signals. The 20kHz noise causes errors, showing up as extra pulses, when the RoboClaws read the encoders. BasicMicro recommends 0.01uF capacitors on the encoder lines to filter out the 20kHz noise. Locations

[2020-08-07 23:54] SConaway commented on #202
I'm willing to help take some of it (any section works for me). Should we try to divide the work?

[2020-08-10 19:21] capsulecorplab commented on #202
Has the team looked into [asciidoc](https://asciidoctor.org/docs/what-is-asciidoc/)? It was a markup language specifically designed for technical writing and documentation. It supports LaTeX and can also output to PDF with [asciidoctor](https://asciidoctor.org/) , using the [asciidoctor-pdf](https://asciidoctor.org/docs/asciidoctor-pdf/)  extension. GitHub also renders [GitHub flavored asciidoc](h

[2020-08-10 20:04] Achllle commented on #202
Thanks for the input!

@SConaway we will start dividing up the work soon, thank you for offering to help!

@capsulecorplab the main reason for switching to markdown is to make the repo contributor and especially beginning contributor friendly. There are several builders who are using git and Linux for the first time. Would you say that asciidoctor fits that description?

[2020-08-10 21:54] SConaway commented on #202
I'd say that asciidoc would be a good fit, especially as it works with LaTeX.

[2020-08-11 04:51] apollokit commented on #202
@capsulecorplab Cool, I didn't know that was a thing. Hopefully it generates better looking pdfs than pandoc (at least, the default output from pandoc).

I don't want to pour cold water on it, but it would be good to know the pros/cons vs github-flavored markdown. The biggest benefit of markdown would be that it's pretty common and people don't have to adopt a new tool. Is there much of the docume

[2020-08-11 06:29] capsulecorplab commented on #202
If you're writing documentation excusively for the GitHub UI, then the choice between GitHub flavored markdown (GFM) vs. GitHub flavored asciidoc (GFA) is for the most part a matter of personal preference. In terms of pure markup languages, Asciidoc has been argued to have a lighter syntax and consistency compared to markdown (see [Asciidoc vs. Markdown](https://asciidoctor.org/docs/asciidoc-vs-ma

[2020-08-11 09:47] Achllle commented on #202
So far I'm not fully sold on this. I've switched to a different markup language in the past [Achllle/dual_quaternions](https://github.com/Achllle/dual_quaternions): [reStructuredText](https://en.wikipedia.org/wiki/ReStructuredText) and found it to be a true PITA to have to refer to documentation the whole time. It looks like AsciiDoc is much closer to MarkDown when it comes to basic functionality

[2020-08-11 16:48] SConaway commented on #202
To aid in the process, `pandoc` can be used for the initial migration, with humans checking and editing. It supports exporting LaTeX to Markdown or AsciiDoc.

Links to other pages work just like regular links: `[title](folder/page.md)`

[2020-08-18 06:53] apollokit commented on #202
Did [a test](https://github.com/apollokit/osr-rover-code/blob/markdown_test/test/blah.md) to reassure myself on things. I'm honestly not as familiar with GFM as I should be :sweat_smile: . But I'm pretty happy with the image capabilities in GFM now.

Honestly GFM seems fine for the needs of the documentation in these repos. I feel like it'll maximize approachability and ease of keeping up to date.

[2020-08-18 07:01] apollokit commented on #202
Note I've been working on updating the README in [osr-rover-code](https://github.com/nasa-jpl/osr-rover-code/pull/108), but I'm up for taking a build doc in the main repo too.

[2020-09-25 05:54] Achllle opened #207 "Upgrade to drive motors and add instructions in markdown format"
* switch to the GoBilda drive motors as proposed on Tapatalk
* convert the LaTeX docs for the Wheel Assembly to Markdown

[2020-09-25 06:07] Achllle commented on #202
Work has officially started on the conversion process!

The first piece to be converted will be the Wheel Assembly instructions as they need to be overhauled anyways for the upcoming update to the drive motor assembly.
You can follow progress on [this branch](https://github.com/nasa-jpl/open-source-rover/tree/iss207-updated_drive_motors_markdown/Mechanical/Wheel%20Assembly). I expect to be done in

[2020-09-28 01:19] JHPHELAN opened #209 "init script directory does not exist for Ubuntu 18.04"
Software Steps
Rover Code Bringup
"2 Automatic bringup with init script"
...
"There are two scripts in the ”Software/Init Scripts” folder. The first is the bash file that runs the roslaunch file, and the other creates a system service to start that bash script. Open up a terminal on the raspberry Pi and execute the following commands."

cd /home/pi/osr/Init\ Scripts
**This directory does not exist

[2020-09-28 01:52] JHPHELAN opened #210 "Software Steps / Setting up ROS environment: $ROS_DISTRO; rosdep install out of order"
## Description

### Issue 1
In the instructions in osr-rover-code:
[code]
I received the error:
[code]

### Poposed solution
`$ROS_DISTRO` needs to be replace by `melodic`
[code]

### Issue 2
The instructions read:
[code]
I got:
[code]
#### Proposed solution
So I tried `cd ..` and the `rosdep` commands first:
[code]

[2020-10-03 04:02] Achllle commented on #209
Hi @JHPHELAN, this is the wrong repository for this issue. This repository (`open-source-rover`) contains all the files to build the rover. The [`osr-rover-code` repository](https://github.com/nasa-jpl/osr-rover-code) contains the code to run the rover as well as instructions for running the code, which also contains the instructions you are referring to.  Please reopen your issue on the other rep

[2020-10-03 04:02] #209 closed

[2020-10-03 04:07] Achllle commented on #210
@JHPHELAN I don't understand what you are trying to convey here. Please edit the issue and describe more clearly what is wrong.

[2020-10-03 04:19] Achllle commented on #210
I formatted it for you. Also please note that this is also an issue for the other repository. I updated the formatting for you so please take a look at what that looks like. Closing here, please reopen on the other repo with proper formatting.

Issues are a way to convey that something is wrong or could use improvement. In order to make them actionable, they need to be clear and concise, so avoid

[2020-10-03 04:19] #210 closed

[2020-10-11 21:33] #207 closed

[2020-10-14 04:41] apollokit opened #212 "Port Software Controls doc to markdown"
The [Software Controls](https://github.com/nasa-jpl/open-source-rover/blob/master/Software/Software%20Controls.pdf) doc should be ported to markdown and moved to the [rover code](https://github.com/nasa-jpl/osr-rover-code) repo.

[2020-10-14 04:43] apollokit opened #213 "Update software readme to link to rover code repo"
The [readme](https://github.com/nasa-jpl/open-source-rover/blob/master/Software/README.md) should point to the [rover code](https://github.com/nasa-jpl/osr-rover-code) repo after software steps and controls docs are moved over.

[2020-10-14 04:43] apollokit commented on #213
https://github.com/nasa-jpl/open-source-rover/issues/212 ought to be finished first

[2020-10-14 04:46] apollokit opened #214 "Port Body Build Doc to markdown"
The [doc](https://github.com/nasa-jpl/open-source-rover/blob/master/Mechanical/Body%20Assembly/Body%20Build%20Doc.pdf) to port

Refer to [the project](https://github.com/nasa-jpl/open-source-rover/projects/1) for context

[2020-10-14 04:48] apollokit opened #215 "Port Corner Steering Build Doc to markdown"
The [doc](https://github.com/nasa-jpl/open-source-rover/blob/master/Mechanical/Corner%20Steering/Corner%20Steering%20Build%20Doc.pdf) to be ported

Refer to [the project](https://github.com/nasa-jpl/open-source-rover/projects/1) for context

[2020-10-14 04:49] apollokit opened #216 "Port Differential Pivot Build Doc to markdown"
The [doc](https://github.com/nasa-jpl/open-source-rover/blob/master/Mechanical/Differential%20Pivot/Differential%20Pivot%20Build%20Doc.pdf) to be ported

Refer to [the project](https://github.com/nasa-jpl/open-source-rover/projects/1) for context

[2020-10-14 04:50] apollokit opened #217 "Port Head Assembly Build Doc to markdown"
The [doc](https://github.com/nasa-jpl/open-source-rover/blob/master/Mechanical/Head%20Assembly/Head%20Assembly%20Build%20Doc.pdf) to be ported

Refer to [the project](https://github.com/nasa-jpl/open-source-rover/projects/1) for context

[2020-10-14 04:51] apollokit opened #218 "Port Mechanical Integration Build Doc to markdown"
The [doc](https://github.com/nasa-jpl/open-source-rover/blob/master/Mechanical/Mechanical%20Integration/Mechanical%20Integration%20Build%20Doc.pdf) to be ported

Refer to [the project](https://github.com/nasa-jpl/open-source-rover/projects/1) for context

[2020-10-14 04:51] apollokit opened #219 "Port Rocker-Bogie Build Doc to markdown"
The [doc](https://github.com/nasa-jpl/open-source-rover/blob/master/Mechanical/Rocker-Bogie/Rocker-Bogie%20Build%20Doc.pdf) to be ported

Refer to [the project](https://github.com/nasa-jpl/open-source-rover/projects/1) for context

[2020-10-14 04:53] apollokit opened #220 "Port Electrical Calibration doc to markdown"
The [doc](https://github.com/nasa-jpl/open-source-rover/blob/master/Electrical/Calibration.pdf) to be ported

Refer to [the project](https://github.com/nasa-jpl/open-source-rover/projects/1) for context

[2020-10-14 04:53] apollokit opened #221 "Port Electrical Build doc to markdown"
The [doc](https://github.com/nasa-jpl/open-source-rover/blob/master/Electrical/Electrical%20Build.pdf) to be ported

Refer to [the project](https://github.com/nasa-jpl/open-source-rover/projects/1) for context

[2020-10-14 04:54] apollokit opened #222 "Port PCB Assembly doc to markdown"
The [doc](https://github.com/nasa-jpl/open-source-rover/blob/master/Electrical/PCB%20Assembly.pdf) to be ported

Refer to [the project](https://github.com/nasa-jpl/open-source-rover/projects/1) for context

[2020-10-14 04:58] apollokit opened #223 "Remove Software Steps doc from main repo"
This [doc](https://github.com/nasa-jpl/open-source-rover/blob/master/Software/Software%20Steps.pdf) needs to be removed from the main repo, to reflect the updated docs from this PR: https://github.com/nasa-jpl/osr-rover-code/pull/108

[2020-10-14 05:00] apollokit commented on #202
Anybody landing here, definitely check out the [project page](https://github.com/nasa-jpl/open-source-rover/projects/1) before grabbing any of this work. We're Command and Conquering over there, not here.

[2020-10-14 05:29] apollokit commented on #223
Handled in https://github.com/nasa-jpl/open-source-rover/pull/224

[2020-10-14 05:29] apollokit commented on #213
Half updated this in PR https://github.com/nasa-jpl/open-source-rover/pull/224

[2020-10-14 05:31] apollokit commented on #202
@SConaway I'd like to assign https://github.com/nasa-jpl/open-source-rover/issues/212 to you, but for some reason I'm not able to find your username in the assignees drop down. Not sure if I need to add you to the repo somehow.

[2020-10-14 13:29] SConaway commented on #202
Hmmm. I might need to be in the project for that. If you don't want to do that, you always could put something like `(assigned to SConaway)`.

[2020-10-14 16:47] ericjunkins commented on #202
I tried to assign him to it as well, it wouldn't let me @ him or add to assign i dont know why...

[2020-10-14 18:45] Achllle commented on #202
You can only assign issues to issue commenters ([source](https://github.blog/2019-06-25-assign-issues-to-issue-commenters/)). So @SConaway simply comment on it and one of the maintainers will be able to assign it to you.

[2020-10-14 22:44] SConaway commented on #212
Making a sample comment per https://github.com/nasa-jpl/open-source-rover/issues/202#issuecomment-708590686.

I can do this over / by the weekend if you want, just let me know.

[2020-10-14 22:49] SConaway commented on #202
@Achllle done there.

Besides the SW Controls, what else should I do?

[2020-10-15 03:55] apollokit commented on #212
Sweet, got you assigned.

No rush on this. Sometime in the next few weeks, it's not pressing. I'm thinking something like a 2 or 3-month time span for all the docs.

[2020-10-15 03:57] apollokit commented on #202
@SConaway can you comment on https://github.com/nasa-jpl/open-source-rover/issues/217 too, so I can assign you? Probably enough for now.

This is annoying, github.

[2020-10-15 03:58] SConaway commented on #217
Commenting as requested by @apollokit

[2020-10-15 03:59] apollokit commented on #217
Assigned!

[2020-10-15 04:00] apollokit commented on #202
Btw @SConaway, definitely join the new slack: https://www.tapatalk.com/groups/jpl_opensource_rover/let-s-give-slack-a-try-t224.html

[2020-10-15 04:28] Achllle commented on #212
TBH I might be the one to do this, @apollokit . The current instructions do not reflect the actual controls.

[2020-10-15 04:48] SConaway commented on #212
Good idea. I don't want to waste my time and then have it all get redone

[2020-10-15 16:11] apollokit commented on #202
Also: made a new channel in the slack, "docs-overhaul" for discussion. Let's try keeping the chatter there instead of here.

[2020-10-15 16:49] apollokit commented on #212
Sounds good, reassigned.

[2020-10-16 04:24] Achllle commented on #202
Closing this issue since we've moved efforts to Project 1 and discussion to Slack.

[2020-10-16 04:24] #202 closed

[2020-11-07 19:28] JHPHELAN opened #225 "Gobilda adapter pieces missing from build instructions"
In the Wheel Assembly instructions:

https://github.com/nasa-jpl/open-source-rover/tree/master/Mechanical/Wheel%20Assembly

Assembling the base wheel mounts / Prepare the motor channel:

The threaded plate S46 and pattern adaptor S48 are not listed in the parts list on that page.

[2020-11-15 02:07] Achllle commented on #225
With the change to markdown, it should be much easier to help fix this! Happy to take this one, but if you'd like to learn how to contribute, I can guide you through the steps to do it. Let me know!

[2020-11-17 15:30] mattbhenley commented on #225
@Achllle I would love to take this one - trying to get into contributing more often. Where would I be able to find these images for the parts? I would then throw them in the readme and create a pull request. Let me know if that sounds correct! Thanks for the great documentation

[2020-11-19 02:35] Achllle commented on #225
Awesome, I assigned you to this one - thanks for stepping in! We're using Markdown for that document (other documents are still in LatTeX, we're slowly transitioning away from that) so you can see how it references current images.

Images of parts are in [root/images](https://github.com/nasa-jpl/open-source-rover/tree/master/images), images related to instructions are in each folder/images.

Let m

[2020-11-19 02:46] apollokit commented on #138
Closing out, as updating build.py isn't a priority right now

[2020-11-19 02:46] #138 closed

[2020-11-19 02:47] Achllle commented on #183
This has been fixed, please reopen on the osr-rover-code repository if the issue persists

[2020-11-19 02:47] #183 closed

[2020-11-19 02:52] ericjunkins commented on #179
Closing with changing to godiba motors this is not an issue anymore

[2020-11-19 02:52] #179 closed

[2020-11-19 02:55] apollokit opened #227 "Merge in Kit's 3d printed wheel hubs"
To be default in master. Keep the other wheel hubs (with the holes drilled through the wheels) as a documented backup.

Update documentation correspondingly.

Also: are Traxxas wheels still available?

[2020-11-19 03:04] apollokit commented on #221
Inspiration: Eric's README updates: https://github.com/nasa-jpl/open-source-rover/pull/226#issuecomment-729933744

[2020-11-19 19:42] mattbhenley commented on #225
@Achllle https://github.com/nasa-jpl/open-source-rover/pull/228

Here's my PR. Hope that does the trick.

[2020-12-01 01:39] #223 closed

[2020-12-01 01:43] apollokit commented on #213
Erm, this is done. I was keeping it open because of the software controls document, but that should be handled somewhere else.

[2020-12-01 01:43] #213 closed

[2020-12-01 05:45] dcschooley commented on #221
Here is a comment so that you can assign the conversion to me.

[2020-12-01 05:57] apollokit commented on #214
Handled in: https://github.com/nasa-jpl/open-source-rover/pull/229

[2020-12-09 23:41] Achllle commented on #225
closed with the above PR

[2020-12-09 23:41] #225 closed

[2020-12-29 14:11] elidica opened #238 "Is the link to Master Parts List broken?"
I gt a 404 message.  Thanks!  Would love to try this with my 9th-grade students.

[2020-12-30 05:13] ericjunkins commented on #238
What did you get a 404 on? A particular part on the parts list? Happy to help

[2020-12-30 06:01] SConaway commented on #238
@ericjunkins not @elidica, but I think they are referring to the parts list link in the README. The link is pointing to a non-existent file. See that attached screenshot for where:
![CleanShot 2020-12-29 at 21 59 53](https://user-images.githubusercontent.com/20807660/103333050-58419000-4a21-11eb-82bd-e616bb9c557c.png)

[2020-12-30 09:57] elidica commented on #238
Yes, exactly.  The link to the excel document pops up on hover but I get a
404 error message when I click on it.  Thank you!

On Wed, Dec 30, 2020 at 7:01 AM Steven Conaway <notifications@github.com>
wrote:

--
Elizabeth Nye Di Cataldo
*she/her/lei*

--
-----------------------------------------------------------------
Ai sensi
del D.Lgs. 196/2003,  del Regolamento UE 2016/679 in materia di protezi

[2020-12-30 18:25] SConaway commented on #238
@ericjunkins commit 319d472899e02d0f40c597268abe76a9c2257dd5 removed `master_parts_list.xlsx` that the readme is referring to

[2020-12-30 20:13] ericjunkins commented on #238
@SConaway thanks for digging up where that happened. @Achllle it looks like you made commit 319d472899e02d0f40c597268abe76a9c2257dd5 which removed the masters_parts_list, I didn't see when this happened. What you removed wasn't a duplicate of the master_parts_list_raw.csv, which is under the parts list folder. The raw was used by the python script to compare quantities and have override values for

[2020-12-30 20:14] ericjunkins commented on #238
@elidica You can take a look at the parts list at https://github.com/nasa-jpl/open-source-rover/blob/master/parts_list/master_parts_list_raw.csv to get parts :)

[2020-12-30 22:14] elidica commented on #238
@ericjunkins @SConaway  Thanks so much!  I am in an international secondary school in Italy and am hoping to use much of our Tetrix kits to work from to start with.  Appreciate the support!

[2021-01-02 19:30] Achllle commented on #238
So all the information is in the raw file, correct? If so, the fix in #238 should do the trick.

[2021-01-17 01:18] SConaway commented on #222
I'll take this one

[2021-01-17 02:07] SConaway commented on #222
When there's only one step in any given heading, should it be numbered `1`?

[2021-01-17 02:07] SConaway commented on #222
Are 16 or 17 100nF Capacitors needed? The TeX said 17, but I think it's 17 (R1-R17, inclusive)

[2021-01-24 22:26] Achllle commented on #161
This has been resolved!

[2021-01-24 22:26] #161 closed

[2021-01-27 04:02] dcschooley commented on #218
Working on it.

[2021-01-27 22:54] apollokit commented on #219
Handled in https://github.com/nasa-jpl/open-source-rover/pull/244

[2021-01-28 03:10] dcschooley commented on #220
I'm all over this one.

[2021-01-28 03:24] #215 closed

[2021-02-10 09:47] dcschooley commented on #220
completed

[2021-02-10 09:48] dcschooley commented on #221
completed

[2021-02-10 09:49] dcschooley commented on #218
completed

[2021-02-10 22:18] #214 closed

[2021-02-10 22:21] #219 closed

[2021-02-10 22:23] apollokit commented on #221
Is there a PR for this?

[2021-02-10 22:44] dcschooley commented on #221
#245

I also have documentation updates in #243 and #248.

Sent from my iPhone

[2021-02-12 02:00] apollokit commented on #218
https://github.com/nasa-jpl/open-source-rover/pull/248

[2021-02-14 06:03] Achllle commented on #212
I made a [separate issue](https://github.com/nasa-jpl/osr-rover-code/issues/127) in the code repo to add the documentation from here. Once that's done, this can be deleted. For now it's not in anyone's way and it's clearly stated that the document is outdated.

[2021-02-14 06:03] #212 closed

[2021-02-25 02:30] Achllle opened #250 "9 x 12 top and bottom ServoCity plates discontinued"
@dcschooley found out they are discountinued.

* One idea is to replace with two 9 x 6 plates and connectors.
* Better: use a laser cutter

[2021-02-25 02:54] apollokit commented on #220
This is on https://github.com/nasa-jpl/open-source-rover/pull/245

[2021-02-25 03:03] #221 closed

[2021-02-25 03:04] #220 closed

[2021-02-25 03:04] #218 closed

[2021-02-25 03:05] Achllle commented on #250
* YouDoItElectronics [still has it in stock](https://www.youdoitelectronics.com/actobotics-9-x-12-aluminum-pattern-plate-585006)
* British website [still has it in stock](https://www.active-robots.com/9-x-12-aluminum-pattern-plate.html) (for now)

These will likely be out of stock as well soon

[2021-02-25 03:07] apollokit commented on #217
Done, on https://github.com/nasa-jpl/open-source-rover/pull/247

[2021-02-25 03:07] #217 closed

[2021-02-25 03:10] apollokit commented on #216
The PR is now: https://github.com/nasa-jpl/open-source-rover/pull/246

[2021-02-25 04:06] dcschooley commented on #250
Using two 4.5x12 inch plates is doable. The hole for the rocker-bogie pivot will be on the seam, which means you are grinding the hole instead of drilling it. Materials for cutting the top and bottom pieces out of acrylic would cost $20-$35, depending on color and where you buy it. (You would need two 12x20 sheets.) With another sheet you can do the entire body in acrylic. I don't know what it wou

[2021-02-25 21:32] dcschooley opened #251 "Change Fuse Type"
The existing fuse on the circuit board does not give an indication if it is blown and replacing it requires desoldering the old one and soldering a new one in place. An improvement would be to replace the existing fuse with a 5x15mm or smaller glass fuse and a mount on the PCB. Another option would be to go with a larger glass fuse with a holder that can be panel mounted on the back panel for easy

[2021-03-25 01:43] #222 closed

[2021-03-25 01:45] apollokit opened #252 "Reorganize READMEs in electrical folder"
Per @ericjunkins on [this PR](https://github.com/nasa-jpl/open-source-rover/pull/240):

Reorg the folder so that things are clearer.

[2021-03-25 01:47] apollokit commented on #216
This is merged and done

[2021-03-25 01:47] #216 closed

[2021-03-25 01:54] Achllle opened #253 "Add video to main README to show it off!"

[2021-04-07 05:09] #238 closed

[2021-04-08 01:33] Achllle opened #256 "Redesign body with off-the-shelf parts to accomodate new PCB design and easier access"
The missing body plate parts (#250) sparked a discussion to overhaul the body with

* easier access to the PCB and internals
* accomodate the new PCB design in [project 2](https://github.com/nasa-jpl/open-source-rover/projects/2)

[2021-04-09 05:33] apollokit commented on #196
Another potential option here is that we could just make a little web app that is easy for people to run, which collects and displays telemetry from the rpi. Definitely not as reliable as a built-in display, and wouldn't currently work when out of wi-fi range.

[2021-04-09 05:54] apollokit commented on #196
Why don't we just include the [TI chip](https://www.ti.com/lit/ds/symlink/ina260.pdf) on the control board directly for rev F? Seems like a more straightforward solution rather than having a daughter board that can mechanically fail.

[2021-04-09 06:07] apollokit commented on #194
@ericjunkins how is this related to the pcb revision? Is it a problem with the size of the traces or something?

[2021-04-09 10:02] dcschooley commented on #196
That's a really good idea. Unfortunately you can only get it in a surface mount package. Doing surface mount would be a bit much to ask newb solderers.

[2021-04-09 13:47] ericjunkins commented on #196
Yeah I guess it depends on where we sit on the line of difficulty vs functionalities. It's a Tssop 16 package which is at least reasonable, something like qfp64 would be out of the question.

https://jeelabs.org/book/1513c/index.html

Here's a little breakout board I've used things similar to this for breadboard testing of surface mount components. One could potentially include these, and have it

[2021-04-09 14:27] dcschooley commented on #196
But in that case wouldn't it make the most sense to just use the AdaFruit board?

[2021-04-09 14:29] dcschooley commented on #196
Maybe we just go ahead and solder the Adafruit thing into the PCB like nature intended. Yes, you do have to unsolder it if it goes bad, but it's just a few pins.

[2021-04-09 23:37] apollokit opened #262 "Update PCB to revision F"
Top-level issue for the work going into pcb rev f

[2021-04-10 00:12] apollokit opened #263 "Update pcb assembly read me for rev F"
Had to rebase the changes from https://github.com/nasa-jpl/open-source-rover/pull/198 on top of master, and some stuff was out of date due to our shift to markdown documentation.

items to fix:

1. "updated documentation for J28" (see [here](https://github.com/apollokit/open-source-rover/commit/3c47b0a3e61809ce460036f0ee139cb108d75a36))

[2021-04-10 00:30] apollokit commented on #196
ah yes, agreed on the surface mount aspect. I didn't think about that.

@dcschooley what do you mean by "solder the adafruit thing"? solder the whole breakout board?

[2021-04-10 01:02] apollokit commented on #187
Confirming that these items look good in the latest schematic version. The subsequent conversation from this issue seems out of date though, I don't see any net  RCxENy_DIV in the latest version

[2021-04-10 01:19] dcschooley commented on #196
The Adafruit board comes with two pin headers that you solder onto the board in the orientation you want. One is low current signaling that can go into any appropriate socket and the other is for the high current connection. There was some discussion early on about this part regarding how to connect it to the PCB. The easiest way would be to solder the high-current pins directly to the main PCB. T

[2021-04-10 01:35] dcschooley commented on #187
Are there still traces with that nomenclature? I did a revision of the boards, and actually had them made, where I was using limit switches and the built-in quadrature encoders on the ServoCity motors. This let me have 10 identical motors without having to deal with the absolute encoders. I eventually abandoned that idea after some problems with the limit switches. To make this work where you coul

[2021-04-11 00:02] apollokit commented on #187
I said in my comment that I _don't_ see any traces with _DIV. So no, none of that nomenclature seems to be left. I haven't fully groked your changes yet though.

[2021-04-11 01:10] apollokit commented on #177
@ericjunkins I'm wondering the same thing as @JHPHELAN above....seems like j6 and j7 should just be 1-to-1 matches (well, except for ground I suppose)

Also note @dcschooley 's [latest updates to the pcb](https://github.com/nasa-jpl/open-source-rover/pull/198) has j6 GND pins all connected to the pcb ground plane. Is that now what's desired? seems to conflict with the discussion above.

[2021-04-11 01:20] dcschooley commented on #177
There's another set of discussions somewhere. Eric and I decided to power the Pi via J6 and get rid of the USB connector. I added the grounds to J6 to support powering the Pi.

[2021-04-11 02:05] apollokit commented on #169
Handled in https://github.com/nasa-jpl/open-source-rover/pull/198

[2021-04-11 02:09] apollokit commented on #177
Gotcha. Okay then, I guess that's handled. Good to have that recorded on this issue.

[2021-04-11 02:20] dcschooley commented on #177
The only place where J6 and J7 should still be different is at GPIO_GEN4/F_STOP. That's the signal the Pi uses to shut down the motors. It's connected at J6 but not J7. I think there was some discussion about that, and a good reason for not connecting it to J7.

[2021-04-11 14:48] JHPHELAN commented on #196
I like the DROK and the Adafruit breakout board.  I rearranged my power sequence to:
battery/wall wort > lighted push button > DROK > remote kill switch > PCB.
This way I can see if the battery is adequate before turning on the system with the kill switch.
Surface mount tech is a bit much to ask of us amateurs.
I like the ease of the Adafruit breakout board so we should make a place for it on the

[2021-04-11 22:08] apollokit commented on #177
this is the only thing I can find on this thread about not including E_STOP. No specific reason in there. Would be good to repeat that reason here if it was captured in discussion elsewhere. @ericjunkins

[2021-04-11 23:00] ericjunkins commented on #177
I'd recommend not connecting the estop pin from the J6 to J7, I don't think we'd want the ability to externally influence that pin from something other than the pi, if thats the question you're asking @apollokit. If we want the ability to control the e-stop from another source but the PI i'd recommending having a digital comparitor on the e-stop line that you can connect another input to for accom

[2021-04-12 02:39] Roger-random commented on #177
I can't think of a scenario for influencing E-Stop status externally, either, but I can think of one for reading E-Stop status from another device: Say I create a robot arm for the rover. Robot arm control electronics connect to J7 for communication with ROS master Pi. Arm electronics wish to monitor status so arm motors could also be depowered when E-Stop is triggered.

[2021-04-12 02:51] ericjunkins commented on #177
I know @JHPHELAN at one point talked about having a remote 'kill switch' type thing to be able to estop the motors from a remote, something like that would be an external write to the estop pin.

You bring up an interesting point about wanting to be able to read that pin though. it might be worth adding the ability to do that I hadn't thought of that before. It would be _ideal_ if that was was a r

[2021-04-12 03:49] dcschooley commented on #177
The E-stop is set by the Pi. All you really need is for the Pi to set another pin at the same time to the same value. That gives you a read-only version. You are sort of trusting the Pi to do everything correctly, but you have other problems if it isn't.

[2021-04-12 04:04] dcschooley commented on #177
A lot of RC machines, especially autonomous multi rotors and planes, have a fail-safe where the device does something reasonable if it loses telemetry or radio control. In many cases, the reasonable thing is to turn around and go back to where it came from. I don't know what the rover does if the wireless controller quits working or gets out of range. Ideally the rover will just stop. If you were

[2021-04-12 04:50] Roger-random commented on #177
With this information I have been swayed in favor of allowing external E-Stop triggers.

I like the concept of a fail-safe option like "trainer mode" for RC transmitters, or "dead man's switch" type of safety mechanisms.

Scenario: radio transmitter with a button, and its corresponding receiver on the E-stop line. But the button acts opposite of an E-stop button. It'd be something I keep pressed a

[2021-04-12 06:10] dcschooley commented on #177
The problem is that we can't currently do this useful thing with external E-stop inputs because everything depends on the Pi. You could do it if the RoboClaws had a watchdog timer where they would simply stop if they don't receive some sort of command within a certain period of time, but they don't have that. At some point I will integrate an RC receiver into the system. (I have the parts but have

[2021-04-12 15:16] ericjunkins commented on #177
```A useful fail-safe would be the battery voltage. If the voltage gets too low, the rover should stop.```

This already exists. Thats the point of the battery voltage cutoff in the roboclaw settings.

```The problem is that we can't currently do this useful thing with external E-stop inputs because everything depends on the Pi.```

This is why i was sugesting having the ability to do both. Have a

[2021-04-12 17:38] ericjunkins commented on #177
Why have the AND gate and pullup on whatever is the external source of ESTOP? Why not OR gate them and have it pulled low. It seems like the other method assumes things about the state of what an external source would be state-wise (default up/down)

[2021-04-12 19:22] Royzinhouse commented on #177
Please, please delete me. I unsubscribed twice with no response

Have a joyful day.  Roy Sanders

[2021-04-12 19:24] Royzinhouse commented on #177
Please, please delete me. I unsubscribed twice with no response

Have a joyful day.  Roy Sanders

[2021-04-12 20:31] dcschooley commented on #177
Setting ESTP low stops the motors, assuming I'm reading the documentation correctly. In that case, you need to AND the inputs and pull the possibly-unused input high to keep it from stopping the motors by accident. There's an internal pull-up in the RoboClaw when you have S3 set as ESTP.

[2021-04-12 20:43] ericjunkins commented on #177
Oh you can set it to be active high or active low, it doesn't matter.

[2021-04-12 20:46] ericjunkins commented on #177
@Royzinhouse notifications and emails from issues are managed on your account, you can follow these instructions to unsubscribe from a github issue:

https://docs.github.com/en/github/managing-subscriptions-and-notifications-on-github/managing-your-subscriptions#unsubscribing-from-notifications-in-your-inbox

[2021-04-12 22:03] ericjunkins commented on #177
Ah yeah it does allow S4 and S5 to be configured as estop ss well. All the digital pins can be logic 'inverted' using their Gui, I'm not sure if they give a software api to do so

[2021-04-20 22:28] apollokit opened #264 "fix formatting and numbering in electrical build doc"
It doesn't look good right now. fix it.

https://github.com/nasa-jpl/open-source-rover/blob/master/electrical/electrical_build.md

[2021-04-20 22:39] apollokit commented on #170
Update:

the table 1 referred to above is now table 3 in [this subsection](https://github.com/nasa-jpl/open-source-rover/blob/master/electrical/electrical_build.md#21-switch-volt-meter-and-control-board)

the table 3 referred to above is now table 6 in [this subsection](https://github.com/nasa-jpl/open-source-rover/blob/master/electrical/electrical_build.md#4-connecting-motors-and-encoders)

Agree

[2021-04-20 22:52] Achllle commented on #170
Sounds good to me; it's what I currently use and I don't find the wires to be too thick to work with. I'll let @dcschooley or @ericjunkins decide if that's too much.

[2021-04-20 22:53] apollokit commented on #190
Alright, so is the conclusion here to use 20 AWG for Motor +/-, and 24 AWG for the encoder wires?

[2021-04-20 23:34] dcschooley commented on #170
12AWG is only too much if is too big for the terminal blocks. That size is a waste of copper for those short connections however.

[2021-04-21 00:45] gyanprakash0221 commented on #264
I want to work on this issue. Can you guide me through what needs to be fixed @apollokit

[2021-04-21 00:47] gyanprakash0221 commented on #253
I want to work on this issue , Can you guide me through to which video needs to be added to the Readme file ?

[2021-04-21 01:02] apollokit commented on #264
@gyanprakash0221 great!

I really just want more consistent sizing of all the images, similar to the [pcb assembly readme](https://github.com/nasa-jpl/open-source-rover/tree/master/electrical/pcb_assembly)

some specifics:
- inconsistent image sizes in table 3
- inconsistent image sizes in table 4
- inconsistent image sizes in table 6
- some images are too big, for example figure 5

Looks like the

[2021-04-21 02:15] apollokit commented on #194
after talking to @ericjunkins, this isn't pcb revision related

[2021-04-21 06:09] Achllle commented on #253
This isn't really an issue, more like a todo that I need to take on.

[2021-04-22 19:30] ericjunkins commented on #170
Has anyone tried to plug 12 AWG into the roboclaw terminal blocks? It sounds like thats the proposal? that seems hard to work with for those connections

[2021-04-22 20:49] Achllle commented on #170
Yes, I have. It works but it is on the bigger size. I think if 14 or 16 AWG is safe and can deliver the power we should use that.

[2021-04-22 21:48] ericjunkins commented on #170
I mean i use 20 AWG on mine so Anything is probably going to be fine. The wires are all such short distances it barely matters

[2021-04-22 22:09] dcschooley commented on #170
If the wire is too big, there is a risk of some the strands not making it into the hole and ending up somewhere they don't belong. The difference between 12AWG and 16AWG in voltage drop across 1ft of wire is somewhere around 5mV at 10A. 18AWG vs. 12AWG is 9mV. 20AWG vs. 12AWG is about 17mV. Pulling 10A in a single motor wire or into a single RoboClaw will almost never happen, and if it does, it wo

[2021-04-23 02:01] apollokit commented on #170
A'ight, 16AWG for the battery connections. Need to update the parts list and instructions accordingly

[2021-04-24 15:11] gyanprakash0221 commented on #264
sure sir, I will be doing all the changes required in the process to make the doc more readable

[2021-04-30 20:39] Achllle commented on #256
@dcschooley

[2021-05-03 02:44] alsalamcse opened #269 "buy rover's materials"
hi
i am leading intersting project in my school  for builing this rover.

please tell me how can i buy the full stuff of the rover matrials?
trhnaks

please contact me by email: samih1079@gmail.com

[2021-05-03 11:40] JHPHELAN commented on #269
@alsalamcse
There is no "kit" with all the parts.
Part of the learning experience of project management is sourcing parts.  Depending on where you live your sources might have to be different.
On the first page is the Parts List [https://github.com/nasa-jpl/open-source-rover/blob/master/parts_list/master_parts_list_raw.csv](url)
Read it from the screen and scroll to the right to find the quantitie

[2021-05-04 23:03] apollokit opened #270 "Add wheel drilling jig to the repo"
Prompted by this discussion https://github.com/nasa-jpl/open-source-rover/discussions/266

That shouldn't just be left floating around in dropbox somewhere...

[2021-05-05 05:00] sethfischer opened #271 "Submodule paths are incorrect"
# Problem

The following commands fail to update the Git submodules:

[code]

After cloning the project with `git clone https://github.com/nasa-jpl/open-source-rover.git` we should have the directories that contain the submodules (`software/android-app`, and `software/rover-code`), but none of the files within.

Then `git submodule init` should initialize the local configuration file, and `git sub

[2021-05-05 19:36] apollokit opened #273 "Update BOM/docs with a good alternative for Traxxas 5374X wheels"
We're encountering out-of-stock's on the Traxxas wheels, for example https://opensourcerover.slack.com/archives/C01D07KNKJM/p1620218389012800

They're currently out of stock on the [dollarhobbyz website link](https://www.dollarhobbyz.com/collections/all/products/traxxas-2-talon-tires-gemini-black-chrome-wheels-5374x) from the BOM, though they can be found [on amazon](https://www.amazon.com/TRAXXAS

[2021-05-05 19:37] apollokit commented on #227
See https://github.com/nasa-jpl/open-source-rover/issues/273

[2021-05-06 02:22] apollokit opened #274 "Add a table in OSR main repo that keeps track of HW/SW versions"
The plan is to remove submodule links between the main osr repo (the HW) and the rover code repo (the Sw), keep them versioned separately, and do releases on both repos jointly.

We need a place to track these releases so it's always clear which SW version corresponds to which HW version.

1) Make this table in open-source-rover repo
2) Clean up any remaining versioned connections to the SW repo f

[2021-05-06 15:16] Achllle commented on #269
Please use either of the forums for such questions. The issue tracker is for problems with the code/files or feature requests.

[2021-05-06 15:19] #269 closed

[2021-05-06 20:46] sethfischer commented on #271
If the hardware and software repos are tightly coupled then Git submodules are a great way to go. However, at this stage of development this appears not to be the case.

As the submodule configuration is currently incorrect I think it would be safe to assume that the majority of people are not using submodules and prefer to work without them. If that is the case, I can:

1. Update #272 to remove b

[2021-05-07 00:29] Achllle commented on #271
Sounds like a plan! Thanks

[2021-05-07 04:41] sethfischer commented on #271
I have closed #272 and opened #277 .

If installed follow this process to remove local Git submodules:

1. Merge in nasa-jpl:master to which removes the `.gitmodules` file.
2. Delete the following sections from `.git/config`:

[code]

3. Run `git rm --cached Software/android_app` and `git rm --cached Software/rover-code`.
4. Delete the now untracked submodule files with `rm -r Software/android_app

[2021-05-07 06:36] #271 closed

[2021-05-07 10:01] sethfischer opened #278 "Remove duplicate image"
Files `images/mechanical_integration/Differential_Pivot.png` and `images/mechanical_integration/differential_pivot.png` are identical.

[code]

`images/mechanical_integration/differential_pivot.png` is used in `/mechanical/mechanical_integration/README.md` on line 13.

`images/mechanical_integration/Differential_Pivot.png` is not used.

[2021-05-07 22:25] apollokit commented on #177
Ok, so current plan is to connect s4 on the roboclaws (and a ground pin) to a small additional 2-pin header on the board so that 1) s4 can be used as a secondary e-stop and 2) it can be toggled by arbitrary other device. This is "e_stop 2"

Seems like the consensus on "e_stop 1" (from rpi) is to still have pin 16 disconnected between j6 and j7. Tbh, seems slightly confusing that now the only diffe

[2021-05-07 22:35] dcschooley commented on #177
Same thing for S5.

Leaving those pins unconnected between J6 and J7 keeps someone from being naughty and preventing the Pi from successfully driving E-Stop.

Pull-ups connected by jumpers to both S4 and S5 to keep the RoboClaws from inadvertently shutting down.

[2021-05-07 23:09] apollokit commented on #177
Why both s4 and s5? Just to have an option which to use?

[2021-05-07 23:28] dcschooley commented on #177
Extra flexibility, either for something else driving e-stop or one of the other functions. Maybe nobody will use it, but it doesn't cost anything and someone might find it useful. I would rather have it and not need it than need it and not have it.

+5. The jumper makes the pull-up independent of whatever you hook up to those inputs. The +3.3 is supplied by the Pi, and the RoboClaws need to functi

[2021-05-11 00:46] Achllle opened #280 "Create a list of builders with pictures of their rover"
I think it would be fun // lower the barrier to contribution if we had a readme with a table containing images and short descriptions of some of the builders' OSRs. People would submit a PR to have their rover featured on the page.

[2021-05-11 01:38] ericjunkins commented on #280
That seems like a great idea!

[2021-05-11 04:51] #278 closed

[2021-05-11 04:53] Achllle commented on #273
From @dcschooley:

These are the same diameter.

[2021-05-11 05:00] sethfischer opened #281 "Consistent case for Readme filenames"
All but the following Readme files are named `README.md` (having a lowercase extension):

* `optional_cad_parts/README.MD`
* `parts_list/README.MD`

# Solution

Rename the above two files to `README.md`.

[2021-05-16 10:50] seudonym commented on #281
Hi, can I help contribute to the project.

[2021-05-16 11:57] solmazi commented on #281
بله ممنون میشوم

[2021-05-16 13:20] aktfire747 commented on #281
Can we have that in english, or is there  way to translate in github?

[2021-05-18 14:29] mredmon63 commented on #273
apollokit, are you talking about the Rex 8mm hex output shaft gobilda motors?  I bought two 5203-series motors to evaluate because the BOM motors (5202-series) have been out of stock for six weeks and are not expected for another 5 weeks.
Do you have a recommendation to integrate the Rex 8mm hex output shaft to a wheel?

[2021-05-22 21:46] #171 closed

[2021-05-22 23:46] sethfischer opened #289 "Fix broken links in Head Assembly docs"
Fix two broken links in `mechanical/head_assembly/README.md`:

[code]

[2021-05-23 22:48] apollokit commented on #273
Hmm. Not sure. There's [this hub](https://www.gobilda.com/1309-series-sonic-hub-8mm-rex-bore/) that also has a square pattern for the holes, similar to the [hub we use](https://www.servocity.com/6mm-bore-clamping-d-hub-tapped-0-770-pattern/) to attach to the wheels.

But i don't think the square size is compatible, just from quickly comparing the two. *Do* double check my math on that

Besides tha

[2021-05-23 22:49] apollokit commented on #281
^ lol, I won't be helpful on translating there

[2021-05-24 04:03] apollokit commented on #280
Agreed. [Reposting in the slack](https://opensourcerover.slack.com/archives/C01CTNRDERJ/p1621829007025700)

[2021-05-24 04:12] apollokit commented on #270
https://github.com/nasa-jpl/open-source-rover/discussions/266#discussioncomment-662406

[2021-05-24 07:22] Achllle commented on #273
Would love this scenario, but I just haven't found the parts to do this yet. There seems to be some standardization in the RC cars world, but I've never found documentation for that.

[2021-05-24 09:59] Achllle commented on #270
Referencing here as well, the file was uploaded to #46 and was referenced in [tex](https://github.com/nasa-jpl/open-source-rover/commit/eb802edeab4ba4f6ee0e4846acf702740f2b1007) but seemingly didn't make it when we transferred to markdown

[2021-05-26 15:46] mredmon63 commented on #273
[17mm Hex Adapter.zip](https://github.com/nasa-jpl/open-source-rover/files/6547958/17mm.Hex.Adapter.zip)
This is the simple printed adapter I am using to integrate 17mm wheels to the 7mm hex shaft on the Gobilda motor: https://www.gobilda.com/5203-series-yellow-jacket-planetary-gear-motor-26-9-1-ratio-24mm-length-8mm-rex-shaft-223-rpm-3-3-5v-encoder/
In my opinion this motor is a better option tha

[2021-05-31 22:11] dcschooley commented on #162
Pull request #293 fixes the RoboClaw standoff discrepancy. Not touching the voltage regulator issue into correct size can be confirmed.

[2021-05-31 23:22] #289 closed

[2021-05-31 23:23] #281 closed

[2021-06-01 05:02] sethfischer opened #295 "Miscellaneous spelling corrections"
Run a spell checker (en_us) over Markdown files.

[2021-06-02 11:24] #295 closed

[2021-06-03 05:41] sethfischer opened #298 "Add final newlines"
Having a newline character at the end of a file prevents the following in diffs:

[code]

or in the GitLab GUI the last of the file appearing in the diff without being modified. As seen in `mechanical/wheel_assembly/README.md` in commit 3aa8686cbd4e0630ba8954e1dd65db4dbf2523f2:

[code]

## 1. Add final newlines

Add final new lines to the following files:

* `DISCLAIMER.txt`
* `LICENSE.txt`
* `ele

[2021-06-03 05:50] sethfischer commented on #298
If it is agreed to add a `.editorconfig` file a second step could be to add the following:

[code]
This will hopefully catch things like 100% diffs on CSV files due to line ending changes, before they are pushed.

[2021-06-13 12:28] Achllle opened #300 "Errors in parts list"
from Slack:

Next Question is, that i see 3 types of motors:
The yellowjacket, the gear motor (corner motor)(E46) and the Gear motor (drive motor)(E45).

What should happen:
* `YellowJacket 223 rpm drive motor` should be `E49`, not `E46`
* the line with `E45` should be removed

[2021-06-13 14:30] rbrishabh commented on #300
I can help with this!

[2021-06-13 14:52] #300 closed

[2021-06-15 04:56] sethfischer opened #302 "Fix broken links"
Broken links and file references in `README.md` and `electrical/electrical_build.md`.

### `README.md`

* Digikey Bill of Materials `Bill%20of%20Materials%20Files/Digikey_BOM.csv`
* Body Build Doc `Mechanical/Body%20Assembly/Body%20Build%20Doc.pdf`
* PCB Files `Electrical/PCB/`

### `electrical/electrical_build.md`

* `/Electrical/PCB Assembly.pdf`
* `Pictures/Routing/route1.PNG`
* `Pictures/Routi

[2021-06-16 10:35] sethfischer opened #304 "Parts list header format is out-of-date"
Update parts list header in `parts_list/README.md` to match `parts_list/master_parts_list_raw.csv`.

[2021-06-19 17:53] Achllle opened #308 "Holes in laser cut panels too close to edges"
![image_from_ios.jpg](https://user-images.githubusercontent.com/14060847/122651216-3bdb0200-d0ec-11eb-8029-153a4b742fcc.jpg)

Copied from Slack thread.

Message from Sculpteo:

There are parts of your objects ” head back plate”, ” arduino plate” and ” back_plate” that have a space of less than 3 mm between the cutting lines, this means that the laser will cut the same area twice, this could cause

[2021-06-19 20:35] #304 closed

[2021-06-19 20:36] #298 closed

[2021-06-19 20:37] #302 closed

[2021-06-19 21:38] sethfischer opened #309 "Fix list nesting"
Whitespace only changes to fix the nesting of lists.

### `electrical/calibration.md`

* Remove double indents.
* **Manual Calibration** list:
    * Semantically the equations should part of the seventh list item.
    * Semantically the manual calibration list is a list of eight items.
    * Making these changes means the HTML list will render as a single list of eight items. Rather than a list of

[2021-06-20 00:10] sethfischer opened #311 "`master_parts_list_raw.csv` has `crlf` line endings"
`master_parts_list_raw.csv` has `crlf` line endings. Contributors can inadvertently change the line endings for every line of the file when intending to edit only a few lines.

Two proposals to mitigate this are:

## Option 1 #312 superseded by b5295acc83eda2de8eafed4b60b9c0142b2d4c67

~~Specify in `.editorconfig` that `master_parts_list_raw.csv` has `crlf` line endings. Other files have `lf` line

[2021-06-21 20:45] Achllle opened #315 "Document part substitutes and alternatives"
To control against parts going missing and unavailability in some countries.

i.e. wheel replacements from [Amazon](https://www.amazon.com/gp/product/B06XDV5MV9/ref=ppx_yo_dt_b_asin_title_o00_s00?ie=UTF8&psc=1)

[2021-06-22 10:04] sethfischer opened #317 "Documentation build proof-of-concept using MkDocs"
Documentation build proof-of-concept using [*MkDocs*](https://www.mkdocs.org/).

This demonstration is built from [sethfischer:mkdocs](/sethfischer/open-source-rover/tree/mkdocs) and hosted at:

- https://osr-demo.readthedocs.io/ ([*Read the docs*](https://readthedocs.org/))

## Requirements

The proof-of-concept was built to the following requirements:

- no changes to the directory structure of

[2021-06-22 16:28] ericjunkins commented on #317
I haven't read through all of this but at a first glance it looks really nice. I have a few questions as I'm not familiar with mkdocs much.
- what is the upkeep for this? Is it auto updated from updates to the Readme docs?
- does it support release versions? (not necessary, but could be nice to keep legacy versions of the documentation)
- are there any other changes we'd need to look at making to

[2021-06-23 09:56] sethfischer commented on #317
Yes. The built site is auto updated from the Readme docs.

*Read the docs* has a GitHub [webhook](https://docs.readthedocs.io/en/stable/webhooks.html) to trigger automatic builds. Builds are triggered on push or merge to master.

The proof-of-concept is configured to automatically build on push or merge to sethfischer:mkdocs.

Periodically project maintainers may receive notification from GitHub t

[2021-06-29 04:09] #194 closed

[2021-06-29 04:10] #190 closed

[2021-07-01 03:35] dcschooley commented on #311
Using Git's core.autocrlf setting might be best, but the parameters should be defined because it looks like they are different depending on the destination OS. I'm using MacOS, which uses the correct line endings, but I still managed to screw this up because Excel isn't always clear as to what it is doing and I am enough of a newb to not know to check it. It would be nice if git/GitHub was smart e

[2021-07-02 02:29] #250 closed

[2021-07-02 03:35] #195 closed

[2021-07-02 04:38] #309 closed

[2021-07-02 04:43] #311 closed

[2021-07-02 04:45] Achllle commented on #317
This is really awesome and makes it easier to use for those new to GitHub. Great effort!

[2021-07-02 04:46] Achllle commented on #280
#322

[2021-07-02 04:46] #280 closed

[2021-07-03 22:27] sethfischer opened #325 "Part number emphasis"
Most part numbers are emphasised with **bold text**.  For example:

[code]

This this makes the document easier to skim read. Meaning it can be determined, at a glance, what parts are being mentioned within a paragraph.

Identify and fix part numbers that are not emphasised.

[2021-07-05 06:12] sethfischer opened #327 "Test point designation letter"
The designation letter for the control board PCB test points is "T" (T1-T20).

The parts list has references **T1**-**T11** which are spacers and threaded stand-offs.

To avoid ambiguity the test point designator prefix could be changed to "TP", which is recommended by [*ASME Y14.44*](https://www.asme.org/codes-standards/find-codes-standards/y14-44-reference-designations-electrical-electronics-par

[2021-07-05 07:11] sethfischer opened #329 "Figure style"
Figures are displayed in two styles.

1. Image followed by an emphasized caption:

[code]

2. Figure and caption within a table:

[code]

Standardizing on a single style would improve the consistency of the documentation.

[2021-07-05 07:12] sethfischer commented on #329
Which is the preferred image style?

[2021-07-05 08:22] sethfischer opened #330 "Remove S25 from parts list"
Remove unused part **S25** from parts list.

**Part Name**: 25mm Bore Side Tapped Clamping Mount
**Project Ref Code**: S25

Part **S25** is no longer referred to in the documentation. Possibly replaced by **S47** for the Yellow Jacket motors.

[2021-07-05 15:54] ericjunkins commented on #329
The html version is preferred because it allows you to control properties like width and positioning

[2021-07-05 21:12] jarobey opened #332 "Logical Battery specs for RCs are amiss in /electrical/calibration.md"
Per our conversation, please remove specification of Logical Battery high and low leaving defaults (34.0 and 5.5).  Also, saving settings to the RoboClaws is now Device -> Write Settings (instead of Device -> Save Settings).

[2021-07-06 00:16] #332 closed

[2021-07-06 00:18] #330 closed

[2021-07-06 00:19] #325 closed

[2021-07-06 05:49] sethfischer opened #334 "Remove duplicate head parts"
Remove duplicate head parts from the parts list.

1. Remove **S33** as it is a duplicate of **S43**.
    **S33** is not referred to in the documentation.
2. Remove **S28** as it is duplicate of **S44**.
    **S28** is not referred to in the documentation.

[2021-07-12 09:51] sethfischer commented on #327
It is worth noting that the Arduino shield is using the "TP" designator prefix **TP1**-**TP8** so already complies with *ASME Y14.44*.

[2021-07-15 01:00] sethfischer opened #338 "Remove `Monolithic Board.*` files"
`Monolithic Board.*` files are not relevant to the current version of the rover.

1. Remove `Monolithic Board.*` files:

    * `electrical/pcb/control_board/Monolithic Board-rescue.bck`
    * `electrical/pcb/control_board/Monolithic Board-rescue.dcm`
    * `electrical/pcb/control_board/Monolithic Board.bak`
    * `electrical/pcb/control_board/Monolithic Board.kicad_pcb-bak`
    * `electrical/pcb/c

[2021-07-15 06:14] apollokit commented on #338
Already removed as part of https://github.com/nasa-jpl/open-source-rover/pull/198 :)

[2021-07-15 06:14] #338 closed

[2021-07-16 03:16] #334 closed

[2021-07-17 02:50] sethfischer opened #340 "Use relative paths for images"
## Proposal

Make all image src links relative.

## Justification

Using relative links allows correct rendering of a local preview. For this reason [GitHub's docs recommend using relative links](https://docs.github.com/en/github/writing-on-github/getting-started-with-writing-and-formatting-on-github/basic-writing-and-formatting-syntax#relative-links):

Being able to preview rendered Markdown befo

[2021-07-17 08:58] sethfischer opened #341 "Fix Kitspace BOM Arduino shield connector J1"
In `electrical/pcb/arduino_uno_sheild/BOM.csv` schematic ref connector **J1** is:

[code]

The first three columns `J1,1,Connector Header 16P 2x8` are correct. However, the remaining information belongs to part ref **E30** *Rectangular 16P (2x8) Ribbon Cable*.

Schematic ref **J1** should be:

[code]

Which is part ref **E19** *Connector Header pin 16P 2x8*:

Digi-Key link: https://www.digikey.com

[2021-07-21 00:39] sethfischer commented on #340
If this proposal is accepted I will prepare a pull request.

[2021-07-21 00:51] ericjunkins commented on #340
Sounds good assigned it to you

[2021-08-13 14:09] #340 closed

[2021-08-13 14:11] #341 closed

[2021-11-17 18:44] BerkayCinar opened #348 "Request, Alternative Motor Driver?"
Roboclaw 2x7A motor drives are no longer manufactured by Pololu. Not available in Turkey.
Is there anything else you can recommend instead of this driver? We are stuck :'(

<img width="945" alt="Ekran Resmi 2021-11-17 21 42 29" src="https://user-images.githubusercontent.com/20440922/142262446-a64d75f6-f812-4612-b0f2-4ce62773318d.png">
?

[2021-12-21 17:25] JoshSharpe opened #349 "Reference CAD location in Parts List for 3d printed parts"
Problem: Right now, when looking at the CAD parts that are in various places in the repo, it can be difficult to understand if the part is needed, why it would be, and which part it is on the master parts list.

This can be solved a few different ways.

- In the parts list, include the directory and file name for the STL file that it refers to
- Include the reference number (ie S24) of the part in

[2021-12-21 17:31] JoshSharpe opened #350 "S37 4.5" x 12" Aluminum Plate - Part #585004 has been discontinued by Servocity"
I was able to download the step file from this website and direct convert that to a dxf/svg for laser cutting using an online converter. I will see the results of that once delivered before uploading it to this repo. I might also figure out how to "clean up" the part to remove all the unnecessary holes. That might make laser cutting cheaper.

Part Detail from master parts list:
4.5" x 12" Aluminum

[2022-01-02 07:04] N3M094 opened #352 "Request, Alternative Clamping Hub"
Hey. Part #545600 is a 0.5" Face Tapped Clamping Hub is sold out until unknown date. Is there a alternate supplier or a alternate hub that would be a match?

thanks.

[2022-01-02 07:04] N3M094 commented on #352
The original supplier is Servo City.

[2022-01-02 07:14] #352 closed

[2022-01-18 10:54] Achllle opened #354 "JST-XH connectors not included in BOM or instructions for GoBilda encoder connections"
- [ ] add 4 pin JST-XH connectors to BOM
- [ ] add to instructions in right place

[2022-01-18 10:57] Achllle commented on #348
Hi @BerkayCinar ,
Sorry I missed this! If it's still relevant, I don't believe the RoboClaw's are no longer produced, they're just out of stock with the ship shortages worldwide. You might be able to find them elsewhere, or can use the beefier 2x14A Roboclaws which work the same way.

[2022-01-18 11:00] Achllle commented on #329
We want to use as much vanilla markdown as possible, but have been deviating in cases where finer control of the figures is necessary, for example when we're placing two large figures next to one another. My personal take is that it's OK to have both. Requiring HTML everywhere would make the contribution threshold even higher and if the basic markdown works, it works :)

[2022-01-18 11:04] Achllle commented on #349
As a meta-comment, we are considering moving from SolidWorks to OnShape. If you have ideas on how to achieve this with OnShape, if it still could be an issue, I'd love to hear it!

[2022-01-24 02:11] JoshSharpe commented on #354
The GoBilda motor requires these and 3.5mm MH-FC bullet connectors for the M+/- wire that already exist. Usually I'd open a new issue but since these are closely related and should be updated together I wanted to just piggy back off this one.

Depending on instructions, there might be additional parts. I'm planning on using 2.54 mm connector on the other end of the motor to plug into the PCB. I'm

[2022-01-24 17:57] Achllle commented on #354
Yes, we should probably add these in. They are optional, since you can just solder them together as well without connector.

We probably won't make any more updates to existing wiring given the upcoming change to the new PCB 2.0 version. See #pcb-rev-f on slack for the latest updates. Essentially we're replacing the corner motors with servos and the PCB is entirely re-architected. We're aiming for

[2022-01-27 01:33] Achllle opened #357 "Wheel assembly picture update required"
See also #356
Figure 4 needs its own picture
Figure 5b shows the wrong screws (it uses the S48 srews). Instead B1 should be used which aren't visible.

[2022-01-27 06:16] #350 closed

[2022-02-07 01:00] Achllle commented on #273
@dcschooley just discovered [these Servocity 12mm hex adapters](https://www.servocity.com/hubs-for-12mm-hex-drive-wheels/#actobotics) which might open up the search for new RC wheels without awkward attachment schemes

[2022-02-20 07:47] sethfischer commented on #317
Screenshot of the documentation built with theme [Material for MkDocs](https://squidfunk.github.io/mkdocs-material/).

![osr-demo readthedocs io_2022-02-20_material_for_mkdocs](https://user-images.githubusercontent.com/2492233/154833439-29a47ab0-d7da-4809-9540-b057ff1b9811.png)

[2022-02-20 08:45] sethfischer commented on #317
Screenshot of the documentation built with theme [readthedocs](https://www.mkdocs.org/user-guide/choosing-your-theme/#readthedocs). This theme has version support.

![osr-demo readthedocs io_2022-02-20_readthedocs_for_mkdocs](https://user-images.githubusercontent.com/2492233/154835114-9cc3a489-3e21-41ed-9983-7cb19d2195e1.png)

[2022-02-24 17:36] Achllle commented on #317
Looks great. Happy to merge whenever you're ready!

[2022-02-25 23:05] sethfischer opened #362 "Format Markdown"
Issue #317 proposes the introduction of built documentation using *MkDocs*.

There are currently a few bugs in the rendered HTML generated by *MkDocs*. However, these can all be fixed with whitespace-only changes to the Markdown documents:

* Empty lines between paragraphs and lists
* Empty lines between paragraphs and tables
* Consistent list indentation
* Remove leading whitespace from headings

[2022-02-25 23:26] sethfischer commented on #362
I have prepared #363 which has all Markdown files formatted with the tool *[markdownlint](https://github.com/DavidAnson/markdownlint)*. It is currently a draft as it affects all Markdown files.

Having the same formatting access all files will set a precedent for future edits by introducing consistent whitespace formatting across all Markdown files. It won't be necessary for contributors to use *m

[2022-03-16 21:57] Vivsangel opened #364 "Jpl"

[2022-03-16 23:05] aktfire747 commented on #364
Wondering what the issue is?

[2022-03-22 20:57] #364 closed

[2022-06-28 09:38] SallyTYT opened #375 "[Bug Report] PCB Assembly Readme.md: Controller Board's JST connector needs to be connected backwards"
The opening in the pins on the JST connector should face OUTWARD as shown below.
![image](https://user-images.githubusercontent.com/64485819/176145546-fed30a66-7faa-4591-be0b-4755a199b867.png)

https://github.com/nasa-jpl/open-source-rover/tree/master/electrical/pcb_assembly#362-solder-40-position-headers-2

[2022-06-28 16:31] ericjunkins commented on #375
Just to clarify, this ticket is to point out that the connector _should have_ been designed to be put on 180 degrees from what it currently is correct? If so yes, that was a design oversight, and in our current work in redesigning a lot of the electrical system, including a new set of PCBs we will make sure to verify these things.

https://github.com/nasa-jpl/open-source-rover/pull/198

[2022-06-30 16:19] SallyTYT commented on #375
Yes.

I found the Arduino shield board couldn't be powered correctly if following the current guidance, then found this issue. The cable E26 given by the BOM list is as the left condition in the description, which means one of the directions is incorrect. I tend to think that generally a connector opening is towards the outside of the PCB, thus, the connector on the control board is the one.

[2022-06-30 17:07] ericjunkins commented on #375
I am feeling confused still. Is the issue:

1). The directions are incorrect and one of the connectors you think needs to be spun 180 degrees to electrically make it work

OR

2). The board _design_ has two different orientations of connectors and that is awkward because of convention. (I know this is true and being addressed).

[2022-06-30 17:15] SallyTYT commented on #375
I mean 1) The directions are incorrect and one of the connectors I think needs to be spun 180 degrees to electrically make it work.

We just need to spin the connector itself. I don't think you need to adjust the electrical part of the PCB design. But perhaps you can mark the correct direction on the PCB.

[2022-07-01 12:04] SallyTYT commented on #375
I painted how the cable direction affects the direction of the connector, as shown in the following figure. The cable we bought is in the right condition.

![image](https://user-images.githubusercontent.com/64485819/176890962-b83061af-bb3d-455c-9330-8b7268f4a0cd.png)

I'd like to correct that the PCB layout doesn't need to be adjusted, and the schematic and mark may need to be adjusted.

[2022-07-20 01:22] SallyTYT opened #376 "[Bug Report] S50 (3D Printed PVC Clamping Hub (bottom)) is not recorded in the master_parts_list_raw.csv"
https://github.com/nasa-jpl/open-source-rover/blob/master/parts_list/master_parts_list_raw.csv

https://github.com/nasa-jpl/open-source-rover/blob/master/mechanical/body_assembly/3d_printed_parts/pvc_hub_lower.stl

[2022-07-20 01:28] SallyTYT opened #377 "[Bug Report] There is a problem with the location of the holes in the drawing for S35 (top_plate_baseline.dxf)"
There is a problem with the location of the drawing holes, resulting that the Control Board can not be installed.

https://github.com/nasa-jpl/open-source-rover/blob/master/mechanical/body_assembly/laser_cut_parts/top_plate_baseline.dxf

![image](https://user-images.githubusercontent.com/64485819/179875506-fb32893e-3438-4f9e-ab31-e9993e90fe81.png)

[2022-09-23 01:39] #362 closed

[2022-09-28 03:45] SallyTYT commented on #205
0.01uF capacitors on the encoder lines really help reduce the jitters in speed measurements on the RoboClaw. Before I added the capacitors, there were huge jitters in the speed measurements on my 7# and 8# drive motors, leading to the velocity control not working. And the capacitors helped solve this issue.

[2022-10-15 02:57] sethfischer commented on #317
Investigation into hosting versioned MkDocs on GitHub pages. This is a possible alternative to MkDocs hosted on readthedocs.

* Need to use the MkDocs Material theme. See https://github.com/nasa-jpl/open-source-rover/issues/317#issuecomment-1046182232 above for screenshot.
* Use [mike](https://github.com/jimporter/mike) which is a utility for deploying multiple versions of a MkDocs-powered docs to

[2022-10-15 03:31] sethfischer commented on #317
Comparison of hosting options: Read the Docs vs. GitHub Pages.

| Feature                 | [Read the Docs](https://readthedocs.org/)                                                                              | [GitHub Pages](https://docs.github.com/en/pages)                                                    |
|-------------------------|----------------------------------------------------------

[2022-10-15 21:11] Achllle commented on #317
Thanks for the thorough analysis! I'm happy to help create the Github action if necessary, but if the options are otherwise equivalent in your opinion, I'm fine with read the docs. I do like that I don't need an account for read the docs though with the pages option.

[2022-10-15 21:14] Achllle commented on #317
I think I asked this already, but can you remind me why you couldn't get relative links to work? The [readthedocs documentation](https://mkdocs.readthedocs.io/en/0.15.3/user-guide/writing-your-docs/#internal-hyperlinks) is pretty explicit in saying that it should work.

[2022-10-15 21:23] Achllle commented on #317
I forgot I set this up in the past already. This is my Github action:
[code]
It uses [MkDocs Simple Plugin](https://github.com/athackst/mkdocs-simple-plugin)

[2022-10-16 03:15] sethfischer commented on #317
@Achllle As you state, links between documentation pages can and should be relative.

By _GitHub relative links_ I'm referring to links in the documentation that point to the GitHub app.

An example is #361. `/electrical/pcb/` is a link to a GitHub app page, which is a directory listing.

[code]
On GitHub this resolves to: https://github.com/nasa-jpl/open-source-rover/tree/master/electrical/pcb
In

[2022-10-16 03:36] sethfischer commented on #317
@Achllle I think GitHub Pages is a good way to go. If you agree I will:

1. Change the theme to [MkDocs Material](https://squidfunk.github.io/mkdocs-material/)
2. Add [mike](https://github.com/jimporter/mike) and do some local testing to ensure versioned documentation is working.

Both of the above are requirements for having versioned documentation hosted on GitHub Pages.

3. Then I will hand ove

[2022-10-16 05:35] Achllle commented on #317
I see. It's odd to me that there's no out of the box support for this seemingly common scenario. I found https://github.com/mkdocs/mkdocs/issues/1619 which explains why it doesn't work.

To me, replacing relative links unfortunately is a show stopper. It means that someone browsing on a fork or commit will be taken away from that fork or commit without any warning. That can lead to confusion and w

[2022-10-16 06:36] sethfischer commented on #317
Unfortunately I can't see a solution to this. I have a few ideas but they very quickly snowball into quite big changes which will not meet the following two requirements I defined when I opened the issue:

* no changes to the directory structure of the project
* allow the documentation to be displayed/used as it currently is on GitHub.com

I agree with @Achllle in that we do not want to introduce